<app-toolbar></app-toolbar>

<div class="content" role="main">
  <app-group-container
    title="Pipes de textos y fechas"
    [rutes]="dateTextPipesRoutes">
  </app-group-container>
  <app-group-container
    title="Pipes de textos y fechas"
    [rutes]="dateTextPipesRoutes">
  </app-group-container>
  <app-group-container
    title="Pipes de textos y fechas"
    [rutes]="dateTextPipesRoutes">
  </app-group-container>
  <app-group-container
    title="Pipes de textos y fechas"
    [rutes]="dateTextPipesRoutes">
  </app-group-container>

  <div class="card-container mt">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
